{% extends 'olaf/base.html' %}
{% load static %}
{% load form_filters %} 
{% block title %}Login{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'authenticate/css/authenticate.css' %}">
{% endblock %}
{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="/" />
</form>
{% endblock %}

