{% extends 'olaf/base.html' %}
{% load static %}
{% load form_filters %} 
{% block title %}Login{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'authenticate/css/authenticate.css' %}">
{% endblock %}
{% block content %}
<div class="login-wrapper">
    <div class="login-container">
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        <form class="form-login" method="post" action="{% url 'login' %}">
            <div class="row">
                {% csrf_token %}
                {{ form }}
                <input class="button-primary" type="submit" value="Login">
            </div>
        </form>
    </div>
</div>
{% endblock %}

