html, body {
  position: relative;
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  min-height: 100%;
  color: #777; }
  body font {
    size: 12px;
    family: Helvetica; }

.wrapper {
  min-height: 500px;
  overflow: hidden; }

a {
  color: inherit; }
  a:hover, a:active {
    text-decoration: none;
    color: inherit; }

ul {
  list-style: none; }

#left-sidebar {
  padding-bottom: 100%;
  margin-bottom: -100%;
  border-right: 1px solid #efefef; }
  #left-sidebar ul {
    padding: 0 10px 0 20px; }
  #left-sidebar ul li {
    padding: 10px; }

#weather {
  padding-bottom: 0; }
  #weather .day-block {
    padding: 20px;
    border-right: 1px solid #efefef;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 135px; }
    #weather .day-block i {
      margin-top: 20px; }
    #weather .day-block .weather-info {
      text-align: center;
      width: auto;
      display: inline-block;
      margin-left: 20px; }
    #weather .day-block.now {
      color: #5bc0de; }
      #weather .day-block.now i {
        margin-top: 15px; }
      #weather .day-block.now .weather-info {
        margin-top: 10px; }
    #weather .day-block:last-child {
      border-right: none; }

.actuator-trigger {
  width: 180px;
  padding: 20px 10px;
  border: 1px solid;
  border-radius: 10px;
  margin: 10px auto;
  text-align: center;
  color: #ececec; }
  .actuator-trigger.on {
    background-color: #5cb85c;
    border-color: #4cae4c; }
  .actuator-trigger.off {
    background-color: #a94442;
    border-color: #d43f3a; }

.bordered-container {
  border: solid 1px #efefef;
  border-radius: 5px;
  padding-bottom: 15px;
  margin-bottom: 20px; }

#actuators {
  padding-top: 10px; }

#sms-container {
  height: 100%; }
  #sms-container .sms-form {
    margin-top: -10px; }
    #sms-container .sms-form button {
      float: right; }
  #sms-container #sms-messages {
    padding-right: 0px;
    margin-bottom: 20px; }
    #sms-container #sms-messages .messages {
      height: 70%;
      margin-bottom: 10px;
      overflow-y: scroll; }
      #sms-container #sms-messages .messages .message {
        width: 100%; }
  #sms-container #sms-nav {
    height: 100%;
    margin: 15px 0;
    border-right: 1px solid #efefef; }
    #sms-container #sms-nav li.active a {
      background-color: #f0ad4e; }

.speech-bubble {
  position: relative;
  padding: 15px;
  margin: 1em 0 0;
  color: #000;
  background: #f3961c;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: block; }
  .speech-bubble:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    border-style: solid; }
  .speech-bubble.incoming {
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #efefef;
    float: right; }
    .speech-bubble.incoming:after {
      border-width: 0 15px 15px;
      /* vary these values to change the angle of the vertex */
      border-color: #337ab7 transparent; }
  .speech-bubble.outgoing {
    background-color: #bdbdbd;
    border-color: #777777;
    color: #777777;
    float: left; }
    .speech-bubble.outgoing:after {
      border-width: 15px 15px 0;
      /* vary these values to change the angle of the vertex */
      border-color: #bdbdbd transparent;
      /* reduce the damage in FF3.0 */ }

/*# sourceMappingURL=style.css.map */
