{% extends 'olaf/base.html' %}
{% load static %}

{% block title %}SMS{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'sms/css/sms.css' %}">{% endblock %}
{% block sidebar %}{% include "sms/sidebar.html" with contacts=contacts %}{% endblock %}

{% block content %}
<div class="mdl-grid">
<div id="messages" class="mdl-cell mdl-cell--10-col mdl-cell--1-offset mdl-cell--stretch">
    {% include "sms/message_list.html" with messages=contacts.first.message_set.all %}
</div>
</div>
{% endblock %}
