<div id="actuators" class="col-md-8 col-md-offset-3 bordered-container">
    <div class="col-md-3">
        <div class="actuator-trigger on">
            <a class="" href="#">
                <i class="fa fa-lightbulb-o fa-3x pull-left"></i>
                <span>Appliance: <strong>A1</strong><br/>Status: <strong>ON</strong></span>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="actuator-trigger off">
            <a class="" href="#">
                <i class="fa fa-lock fa-3x pull-left"></i>
                <span>Appliance: <strong>A1</strong><br/>Status: <strong>ON</strong></span>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="actuator-trigger on">
            <a class="" href="#">
                <i class="fa fa-unlock fa-3x pull-left"></i>
                <span>Appliance: <strong>A1</strong><br/>Status: <strong>ON</strong></span>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="actuator-trigger on">
            <a class="" href="#">
                <i class="fa fa-unlock fa-3x pull-left"></i>
                <span>Appliance: <strong>A1</strong><br/>Status: <strong>ON</strong></span>
            </a>
        </div>
    </div>
</div>
