<div id="weather" class="col-md-8 col-md-offset-1 bordered-container">
    <div class="col-md-3 day-block now">
        <i class="wi wi-day-sunny fa-3x pull-left"></i>
        <div class="weather-info">
            <span><strong>Now</strong></span><br/>
            <span>80&deg;F</span><br/>
            <span>Sunny</span>
        </div>
    </div>
    <div class="col-md-3 day-block">
        <i class="wi wi-day-rain fa-3x pull-left"></i>
        <div class="weather-info">
            <span><strong>Tomorrow</strong></span><br/>
            <span>High: 80&deg;F</span><br/>
            <span>Low: 80&deg;F</span><br/>
            <span>Chance: 10%</span></br>
            <span>Sunny</span>
        </div>
    </div>
    <div class="col-md-3 day-block">
        <i class="wi wi-day-snow fa-3x pull-left"></i>
        <div class="weather-info">
            <span><strong>Today</strong></span><br/>
            <span>High: 80&deg;F</span><br/>
            <span>Low: 80&deg;F</span><br/>
            <span>Chance: 10%</span></br>
            <span>Sunny</span>
        </div>
    </div>
    <div class="col-md-3 day-block">
        <i class="wi wi-day-sunny fa-3x pull-left"></i>
        <div class="weather-info">
            <span><strong>Jan 6</strong></span><br/>
            <span>High: 80&deg;F</span><br/>
            <span>Low: 80&deg;F</span><br/>
            <span>Chance: 10%</span></br>
            <span>Sunny</span>
        </div>
    </div>
</div>
