@import 'https://fonts.googleapis.com/css?family=Tillana';

.contact-wrapper {
    max-height: 80%;
    width: 100%;
    overflow-y: scroll;
}

.contact-list {
    width: 80%;
    margin: 30px auto;
    height: 100%;
    .contact-list-item {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0;
        padding: 0;
    }
    li {
        height: 60px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
    .contact-name {
        font-family: "Tillana";
        font-weight: bold;
        display: inline-block;
        font-size: 18px;
        margin: 16px 20px;
    }
    .latest-msg-preview {
        display: inline-block;
        float: right;
        max-width: 60%;
        height: 100%;
        overflow: hidden;
        text-align: right;
        span, p {
            display: inline-block;
            padding: 18px 20px;
            margin: 0;
        }
        p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 60%;
            float: right;
        }
    }
    .message-list {
        display: none;
        .reply-box {
            height: 70px;
            margin-left: 3rem;
            margin-top: 15px;
            textarea, button {
                height: 100%;
                display: inline-block;
            }
            textarea {
                width: 89%;
            }
            button {
                float: right;
                width: 10%;
                padding: 0;
                .fa {vertical-align: middle;}
            }
        }
        .msg-preview {
            display: inline-block;
            width: 100%; 
            height: 100%;
            overflow: hidden;
            span, p {
                display: inline-block;
                padding: 18px 20px;
                margin: 0;
            }
            p {
                text-align: right;
                float: right;
                max-width: 60%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}
