<div class="col-md-2" id="left-sidebar">
    <ul>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Alerts & Notifications</a></li>
        <li><a href="#">Actuators</a></li>
        <li><a href="#">Settings</a></li>
    </ul>
</div>