{% extends 'olaf/base.html' %}
{% load static %}


{% block title %}Message{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'message/css/message.css' %}">
<link href="//cdn.rawgit.com/noelboss/featherlight/1.4.1/release/featherlight.min.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
<ul class="contact-list">
    {% for contact  in contacts %}
    <li>
        <a href="#" id="contact-{{contact.id}}" data-contact="{{contact.id}}" class="contact-list-item" href="#">
            <div class="contact-name"> >{{contact.name}}</div>
            <div class="latest-msg-preview">
                <span>11:00 PM 21 Jun 16</span>
                <p>This is a message previewwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</p>
            </div>
        </a>
    </li>
    {% for number in contact.numbers %}
    {% include "message/message_list.html" %}
    {% endfor %}
    {% endfor %}
</ul>
{% endblock %}

{% block js %}
<script src="//cdn.rawgit.com/noelboss/featherlight/1.4.1/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'message/js/message.js' %}" type="text/javascript"></script>
{% endblock %}
